/* Descendent Selector */
#myId h2{
    font-weight: normal;
    font-style: italic;
}

#myId p{
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}